body {
	font-size: 22px;
}

body p {
	align: center;
}

button {
	width: 200px;
}

.logo img {
	width: auto;
	height: 250px;;
}

.banqueImagesSrc img {
	height: 200%;
	width: auto;
}

.emojiMail {
	width: 250px;
}

.portfolio, .portfolioSommaire {
	margin-left: 15%;
	margin-right: 15%;
}

#pfmpSCMicro, #pfmpMultimedia, #pfmpVBX {
	margin-bottom: -15px;
}

.mentionsLegales, .mesMusiques {
	margin-left: 15%;
	margin-right: 15%;
}